.home {
  display: flex;
  flex-direction: column;

  &__title {
    margin: 1rem;
  }

  & > * {
    margin-bottom: 1rem;
  }
}

.article-box {
  display: flex;
  flex-wrap: wrap;
  & > * {
    margin: 1rem;
  }
}
